/*AdrianTodt*/
.underlined {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 5px;
    margin: .75rem;
}

.col > .underlined {
    margin: .75rem 0;
}

.noticia_info {
    margin-top: -1rem;
    color: #9e9e9e;
    font-style: italic;
}

/*Montefusco*/
h3 {
    margin: 1rem 0 1.168rem 0;
}

.card-action {
    text-align: right;
}

.par_news {
    text-align: justify;
}

.news_card {
    margin: 2em;
}

.ler_mais {
    width: 20%;
    float: right;
}

.rodape_pag {
    text-align: center;
    margin-top: 6em;
    margin-bottom: 1em;
}

.redes_sociais a {
    width: 35px;
    height: 35px;
    display: inline-block;
    font-size: 0;
    margin-left: .25px;
    margin-right: .25px;
}

.redes_sociais li {
    display: inline;
}

.facebook {
    background-image: url(/img/facebook_icon.png);
}

.instagram {
    background-image: url(/img/instagram_icon.png);
}

.linkedin {
    background-image: url(/img/linkedin_icon.png);
}